@function hunit($multiplier) {
  @return $multiplier * (100vh / 12);
}

.pl-icon-3 {
  font-size: 3em;
}
.pl-icon-2 {
  font-size: 2em;
}

.point8-fsize {
  font-size: 0.8em;
}

.panel {
  min-height: hunit(12);
}
.introductions {
  min-height: hunit(10.8);
  // background-color: teal;
}
.carouselImage {
  height: hunit(8);
}

.project-area {
  overflow-y: auto;
  @media (min-width: 576px) {
    min-height: hunit(12);
  }

  @media (min-width: 768px) {
    height: hunit(12);
  }
}

.card-columns {
  // column-count: 2;
  @media (min-width: 576px) {
    column-count: 1;
  }

  @media (min-width: 768px) {
    column-count: 2;
  }
}
